<a href="https://colab.research.google.com/github/shbn337/class2021Spring/blob/main/syntax.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a = [5, 6, 7, 8]
for i in a:
    print(i)

5
6
7
8

for는 하나하나 다 돌린다는 것

for 다음 줄은 탭으로 공백 줘야함. 그냥 엔터치면 자동으로 띄워짐.

In [2]:
a = [5, 6, 7, 8]
for i in range(len(a)):
    print(a[i])

5
6
7
8

len(a)=4. 레인지는 숫자 조합을 만들라는 뜻. 4이면 0, 1, 2, 3 을 출력함.

In [3]:
a = ['one', 'two', 'three', 'four']
for i in a:
    print(i)

one
two
three
four

In [4]:
a = ['one', 'two', 'three', 'four']
for i in range(len(a)):
    print(a[i])

one
two
three
four

In [ ]:
a = ["red", "green", "blue", "purple"]
b = [0.2, 0.3, 0.1, 0.4]
for i, a_ in enumerate(a):
    print("{}: {}%".format(a_, b[i]*100))

red: 20.0%
green: 30.0%
blue: 10.0%
purple: 40.0%

In [ ]:

a = ["red", "green", "blue", "purple"]
b = [0.2, 0.3, 0.1, 0.4]
for a_, b_ in zip(a, b):
    print("{}: {}%".format(a_, b_*100))

red: 20.0%
green: 30.0%
blue: 10.0%
purple: 40.0%

In [ ]:
a = 0
if a == 0:
    print(a)
else:
    print(a+1)

0

In [ ]:

for i in range(1, 3):
    for j in range(3, 5):
        print(i*j)

3
4
6
8

In [ ]:

for i in range(1, 3):
    for j in range(3, 5):
        if j >=4:
            print(i*j)

4
8

In [ ]:

a = [1, 2, 3, 4]
b = [i for i in a if i >=2]
b

[2, 3, 4]

In [ ]:
a = ['red', 'green', 'blue', 'purple']
b = [i for i in a if len(i) >=4]
b

['green', 'blue', 'purple']