<a href="https://colab.research.google.com/github/shbn337/class2021Spring/blob/main/variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a = 3; print(type(a))

<class 'int'>

줄을 바꿔도 되지만 세미콜론으로 한 줄로 써도 됨

In [2]:
a = 2; a = float(a); print(type(a))

<class 'float'>

In [3]:
a = 4.6; a = int(a); print(type(a))

<class 'int'>

#반올림함

In [ ]:
a = '456'; print(type(a)); print(a[1])

<class 'str'>
2

[ ]는 인덱스의 번호를 나타냄.
첫 글자는 '0'번째임. 0, 1, 2, 3 ... 이렇게 나감

In [4]:
a = '456'; a = list(a); print(type(a)); print(a); print(a[2])

<class 'list'>
['4', '5', '6']
6

In [5]:
a = [4,'5', [6, '7']]; print(type(a)); print(a[0]); print(a[1]); print(a[2])

<class 'list'>
4
5
[6, '7']

In [6]:
a = (4,'5', [6, '7']); print(type(a)); print(a[0]); print(a[1]); print(a[2])

<class 'tuple'>
4
5
[6, '7']

튜플은 리스트에 비해 수정이 어려움. 개발과정에서 실수로 코드를 변경하거나 삭제하는 것을 방지하기 위한 용도로 사용 가능

In [7]:
a =	{"a": "eye", "b": "nose", "c": 2021}
print(type(a))
print(a["a"])

<class 'dict'>
eye

싱글 코테이션 마크도 가능함

In [8]:
a=[(1,2,3), (4,9,1)]
print(type(a))
a

<class 'list'>

[(1, 2, 3), (4, 9, 1)]